* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 90px;
}

.container {
    max-width: none;
    width: 80%;
}

.footer {
    position: absolute;
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    bottom: 0;
    display: block;
    box-sizing: border-box;
    height: 80px;
    text-align: center;
}


@media screen and (max-width: 1366px) {
    .container {
        width:100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-full-width{
        padding-left: 15px;
    }
    .content {
        width: 100%;
    }

    .footer {
        width: 100%;
    }
}


/*.tooltip {*/
/*    background: rgba(0,0,0,.9);*/
/*    color: #fff;*/
/*    z-index: 999999;*/
/*    position: absolute;*/
/*    padding: 15px;*/
/*    max-width: 250px;*/
/*    border-radius: 2px;*/
/*}*/
/*.tooltip.animation-slide {*/
/*    -webkit-animation-name: slideTooltip;*/
/*    -webkit-animation-duration: .25s;*/
/*    -webkit-animation-timing-function: ease;*/
/*    animation-name: slideTooltip;*/
/*    animation-duration: .25s;*/
/*    animation-timing-function: ease;*/
/*}*/
/*.tooltip .tooltip-arrow {*/
/*    position: absolute;*/
/*    border: 8px solid rgba(0,0,0,.9);*/
/*}*/
/*.tooltip-arrow.bottomtotop {*/
/*    border-top-color: transparent;*/
/*    border-left-color: transparent;*/
/*    border-right-color: transparent;*/
/*    top: -16px;*/
/*}*/
/*.tooltip-arrow.toptobottom {*/
/*    border-bottom-color: transparent;*/
/*    border-left-color: transparent;*/
/*    border-right-color: transparent;*/
/*    bottom: -16px;*/
/*}*/
/*.tooltip-arrow.righttoleft {*/
/*    border-left-color: transparent;*/
/*    border-bottom-color: transparent;*/
/*    border-top-color: transparent;*/
/*    left: -16px;*/
/*    top: 50%;*/
/*    -webkit-transform: translateY(-50%);*/
/*    transform: translateY(-50%);*/
/*}*/
/*.tooltip-arrow.lefttoright {*/
/*    border-right-color: transparent;*/
/*    border-bottom-color: transparent;*/
/*    border-top-color: transparent;*/
/*    right: -16px;*/
/*    top: 50%;*/
/*    -webkit-transform: translateY(-50%);*/
/*    transform: translateY(-50%);*/
/*}*/
/*.tooltip-arrow.center {*/
/*    left: 50%;*/
/*    -webkit-transform: translateX(-50%);*/
/*    transform: translateX(-50%);*/
/*}*/
/*@-webkit-keyframes slideTooltip {*/
/*    from {*/
/*        -webkit-transform: translateY(-20%);*/
/*        transform: translateY(-20%);*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        -webkit-transform: translateY(0);*/
/*        transform: translateY(0);*/
/*        opacity: 1;*/
/*    }*/
/*}*/
/*@keyframes slideTooltip {*/
/*    from {*/
/*        -webkit-transform: translateY(-20%);*/
/*        transform: translateY(-20%);*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        -webkit-transform: translateY(0);*/
/*        transform: translateY(0);*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*Блок комментариев*/
.img-sm {
    width: 46px;
    height: 46px;
}

.img-circle {
    border-radius: 50px;
}

.media-block .media-left {
    display: block;
    float: left
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
    margin-left: 60px;
}

/*аватарка в блоке auth*/
.img-user-avatar-on-top-menu {
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

/*аватарка в таблице с пользователями в личном кабинете администратора cabinet*/
.img-user-avatar-on-cabinet {
    display: inline;
    height: 35px;
    width: 35px;
    border-radius: 30px;
}

/*для больших таблиц а-ля редактирование пользователей*/
.big-table {
    min-width: 1000px;
}

/*для мобильной версии верхнего меню: три независимых колонки*/
.top-menu-mobile-column-left {
    float: left;
    width: 33%;
    text-align: center
}

.top-menu-mobile-column-right {
    float: right;
    width: 33%;
    text-align: center
}

.top-menu-mobile-column-center {
    display: inline-block;
    width: 33%;
    text-align: center
}

/*для того, чтобы бутстраповские строки были во всю ширину родительского элемента*/
.row-full-width {
    width: 100%;
}

/*для всех картинок: чтобы не превышали ширину страницы*/
img {
    max-width: 100%;
}
